<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
>Регистрация<head>
    <title>Spring Security Example </title>
</head>
<body>
<div th:if="${message}">
    <div th:text="${message}"></div>
</div>
<form th:action="@{/registration}" method="post">
    <div><label> User Name : <input type="text" name="login"/> </label></div>
    <div><label> Password: <input type="password" name="hashPassword"/> </label></div>
    <div><input type="submit" value="Зарегистрироваться"/></div>
</form>
</body>
</html>
